<div id="<%= dom_id game_move %>">
  <p>
    <strong>Game:</strong>
    <%= game_move.game_id %>
  </p>

  <p>
    <strong>Turn:</strong>
    <%= game_move.turn %>
  </p>

  <p>
    <strong>Player:</strong>
    <%= game_move.player %>
  </p>

  <p>
    <strong>Row:</strong>
    <%= game_move.row %>
  </p>

  <p>
    <strong>Column:</strong>
    <%= game_move.column %>
  </p>

</div>
